<div class="container">
  <div style="height: 20px;"></div>
  <mat-card>
      <div>
          <label for="">Status</label>
          <h5>Pending</h5>
      </div>
  </mat-card>
  <div style="height: 20px;"></div>
  <mat-card>
    <div class="contaniner">
      <div class="col-sm-12 col-offset-1">
        <p id="p">Your Form is under process for Approval, if
          you want to need some changes please
          click on student profile and edit your
          form.</p>
      </div>
      
    </div>
      </mat-card>
      <div style="height: 20px;"></div>
</div>

<!-- After Approved -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<!-- <div class="container">

  <div class="container">
      <div class="row">
      <div class="col-md-3">
        <div class="card-counter primary">
          <i class="fa fa-book"></i>
          <span class="count-numbers">700</span>
          <span class="count-name"><a style="color: white;" href="#">Textile</a></span>
        </div>
      </div>
  
  
      <div class="col-md-3">
        <div class="card-counter success">
          <i class="fa fa-book"></i>
          <span class="count-numbers">675</span>
          <span class="count-name"><a style="color: white;" href="#">Agriculture</a></span>
        </div>
      </div>
  
      <div class="col-md-3">
          <div class="card-counter info">
            <i class="fa fa-book"></i>
            <span class="count-numbers">599</span>
            <span class="count-name"><a style="color: white;" href="#">Chemical</a></span>
          </div>
        </div>

     </div>
    </div>
  </div> -->


